<body id = "background">

<div class = "uk-grid"></div>
<div class ="uk-grid">
	<div class = "uk-width-1-1">
		<h1 class = "header"> Deals of the week!</h1>
	</div> <!-- closes uk-width-1-1 -->
</div> <!-- closes uk-grid !-->
<div class ="uk-grid">
	
	<div class = "uk-width-medium-1-3">
				<div class = 'panel'>
					<figure class = "uk-panel uk-panel-box front card">
						 <video src= <%=asset_path('paris.webm') %>  preload autoplay loop>
        Your browser does not support the video.
        </video>
					</figure>
					<figure class = "uk-panel uk-panel-box back card"> 
							<img src =<%=asset_path('Eiffel.jpeg') %>> 
							<div class="ribbon-wrapper-green"> <div class = "ribbon-green"><%= link_to "Click For Pricing!", new_purchase_path(trip_id: @paris.id)%></div></div>
							<h3 class = "uk-panel-title">Paris</h3>
					</figure> <!-- close back -->
				</div> <!-- close flipper -->
	</div> <!-- close width -->
	
	<div class = "uk-width-medium-1-3">
				<div class = 'panel'>
					<figure class = "uk-panel uk-panel-box front card">
						 <video src= <%=asset_path('NYC.webm') %>  preload autoplay loop>
        Your browser does not support the video tag.
        </video>
					</figure>
					<figure class = "uk-panel uk-panel-box back card">
							<img src =<%=asset_path('empire2.jpg') %>> 
							<div class="ribbon-wrapper-green"> <div class = "ribbon-green"><%= link_to "Click For Pricing!", new_purchase_path(trip_id: @ny.id)%></div></div>
							<h3 class = "uk-panel-title">New York City</h3>
					</figure> <!-- close back -->
				</div> <!-- close flipper -->
	</div> <!-- close width -->
	
<div class = "uk-width-medium-1-3">
				<div class = 'panel'>
					<figure class = "uk-panel uk-panel-box front card">
						 <video src= <%=asset_path('Tokyo.webm') %> preload autoplay loop>
        Your browser does not support the video tag.
        </video>
					</figure>
					<figure class = "uk-panel uk-panel-box back card">
							<img src =<%=asset_path('fuji.jpg') %>> 
							<div class="ribbon-wrapper-green"> <div class = "ribbon-green"><%= link_to "Click For Pricing!", new_purchase_path(trip_id: @tokyo.id)%></div></div>
							<h3 class = "uk-panel-title">Tokyo</h3>
					</figure> <!-- close back -->
				</div> <!-- close flipper -->
	</div> <!-- close width -->

</div>
</body>