	<br>
	<legend> Buy Now! </legend>
	<%= form_for(@purchase, :method => :post) do |f| %>
	 <% if @purchase.errors.any? %>
	 	<div class="error_messages">
	 		<ul>
		 		<%= @purchase.errors.full_messages.each do |error| %>
		 			<li> <%= error %> <li>
		 		<% end %>
		 	</ul>
		</div>
		<%end%>

		<%= f.hidden_field :trip_id %>
		<%= f.hidden_field :stripe_customer_token %>
		<%= f.hidden_field :value_of_trip, value: "#{@purchase.trip.cost}"%>

		<% if @purchase.stripe_customer_token.present? %>
			<p> Your card has been provided <p>
		<% else %>
		<div id="stripe_error">
				<noscript> Javascript must be enabled to use this form </noscript>
			</div></br>	
				<div class = "uk-form-row">
					<%= label_tag :card_number, "Credit Card Number" %>
					<%= text_field_tag :card_number, nil, name: nil %>
				</div>
				<div class = "uk-form-row">
					<%= label_tag :card_code, "Security Code" %>
					<%= text_field_tag :card_code, nil, name: nil %>
				</div>
				<div class = "uk-form-row">
					<%= label_tag :card_month, "Credit Expiration"	 %>
				   <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
		      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
				<div><br>
		<% end %>
			<div class = "uk-form-row submit">
				<%= f.submit "Purchase" %>
			</div>
	<% end %>